$black: #202225
$dark: #35383e
$light: #dedcd9
$transition-time: 0.5s
$spoiler: #1e2023

@media screen and (max-width: 480px)
  :root
    font-size: 14px

html
  &[data-theme="light"]
    --bgcolor: #{ $light }
    --fcolor: #{ $dark }
    --hfcolor: #{ $dark }

  &[data-theme="dark"]
    --bgcolor: #{ $dark }
    --fcolor: #{ $light }
    --hfcolor: #{ $black }

    img
      filter: brightness(0.7)

body
  background-color: var(--bgcolor)
  color: var(--fcolor)
  transition: background-color #{ $transition-time }, color #{ $transition-time }

header
  display: flex
  align-items: center
  justify-content: space-between
  background-color: var(--hfcolor)
  color: #{ $light }
  padding: .5rem
  height: 4rem
  text-align: center
  transition: background-color 0.5s

  .bi
    font-size: 2rem

  h2
    margin: 0

footer
  background-color: var(--hfcolor)
  color: #{ $light }
  padding: .5rem
  text-align: center
  bottom: 0
  width: 100%
  position: absolute
  transition: background-color 0.5s

main
  padding: 1rem 1rem 4.5rem
  max-width: 640px
  margin: 0 auto

a.plain-link
  text-decoration: none
  color: unset

.cur-pointer
  cursor: pointer

h2
  margin-top: 1rem

hr
  background-color: var(--gray)

img
  transition: filter #{ $transition-time }

spoiler
  border-radius: .25rem
  cursor: pointer
  transition: background-color 0.5s, color 0.5s
  background-color: #{ $spoiler }
  color: #{ $spoiler }

  &[revealed="true"]
    background-color: #{ $black }
    color: #{ $light }


